/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
/Recordings/
.vs/
.idea/
.DS_Store
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.suo
*.tmp
.env
.env.*
!.env.example
